<template name="forgotPassword">
	{{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="left-padding" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <!-- <h1 class="title">忘記密碼</h1> -->
		<h1 class="title">forgot password</h1>
  {{/contentFor}}
  {{#ionView}}
	  {{#ionContent}}

	  <div class="login forgotPassword">
		  <div class="blur-bg"></div>
			<div class="forgot-text">
				Please input your registered email, we will email you password resetting instructions.
				<!-- 請輸入註冊時所填寫的登入電郵，我們將會把忘記密碼通知發送給你 -->
			</div>
	    <form id="forgot-pw-form">
	      <input id="email" class="login-input" name="email" type="text" placeholder="Your email">

	      <div class="new-button signup-btn reset-pw-btn">
	        <div class="new-button-text">Submit</div>
	      </div>

	    </form>
	  </div>

	  {{/ionContent}}
	{{/ionView}}


</template>
