.report-container {

  .report-detail {
    width: 100%;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
    padding: 16px;

    .report-detail-row {
      @extend %flex-row-container;
      width: 100%;

      .report-detail-content {
        flex: 1 0 0;
      }

      .column {
        flex: 1 0 0;
        @extend %flex-column-container;

      }
    }
  }

  .report-call-button, .report-continue {
    align-self: center;
  }

  .report-continue {
    margin-top: 8px;
    color: $theme-main-green;
    text-decoration: underline;
  }
}
