.spaceFeaturesView-container{
  @extend %flex-column-container;
  justify-content: center;
  align-items: stretch;
  //margin-top: 8vh;

  .divider-text {
    @include main-font-fix(bold);
    text-align: center;
    color: $theme-main-green;
    font-size: 1.4rem;
    padding: 10%;
  }

  .spaceFeaturesInput-container {
    @extend %flex-row-container;
    justify-content: center;
    align-items: center;
    font-family: Futura;

    .card.no-margin {
      width: 100%;

      .radio-icon.ion-ios-checkmark.custom-radio-size {
        color: $theme-main-green;
        font-size: 30px;
        line-height: 30px;
      }

      .height-input {
        @extend %flex-row-container;
        justify-content: space-between;
        width: 100%;
        align-items: stretch;
        padding: 14px;

        .radio-icon {
          visibility: hidden;
        }

        &.checked {
          background: #f7f7f7;

          .item-content {
            background: #f7f7f7;

            input {
              background: #f7f7f7;
            }
          }

          .radio-icon {
            visibility: visible;
          }
        }
      }
      .item-content {
        @extend %flex-row-container;
        justify-content: flex-start;
        align-items: center;

        input[type='number'] {
          margin-left: 8px;
          position: inherit;
          height: 24px;
          width: 36px;
          font-family: Futura;
          color: rgb(68, 68, 68);
        }
      }
    }
  }

}
