<template name="resetPassword">
	{{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="left-padding" text=" "}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <!-- <h1 class="title">重設密碼</h1> -->
		<h1 class="title">reset password</h1>
  {{/contentFor}}
  {{#ionView}}
	  {{#ionContent}}

	  <div class="login resetPassword">
			<div class="blur-bg"></div>
			{{#if resetPassword}}
			<div class="reset-pw-text">請設定你的新密碼</div>
				<form id="reset-pw-form">
					<input id="new-password" class="login-input" input="password" name="password" type="password" placeholder="你的新密碼">

		      <div class="new-button signup-btn reset-pw-btn">
		        <div class="new-button-text">重設密碼</div>
		      </div>
				</form>
			{{else}}
					<div class="reset-pw-text">
						Oops. Seems you got to a wrong place.
					</div>
			{{/if}}
		</div>

	  {{/ionContent}}
	{{/ionView}}


</template>
