section.twoPark-container {
  $theme-font-regular: $sub-font-family;

  .date-filter-container {
    display: none;

    &.isDateFilter {
      display: block;
    }
  }

  .time-filter-container {
    display: block;

    &.isDateFilter {
      display: none;
    }
  }

  .month-nav-container {
    @extend %flex-row-container;
    justify-content: space-between;
    align-items: center;

    .nav-btn {
      margin: 0 32px;
      font-size: 2rem;
      color: $theme-main-green;
      padding: 10px;
    }

    .month {
      color: $theme-main-green;
      @include main-font-fix();
      font-size: 1.6rem;
      margin: 8px 0;
      line-height: normal;
      text-align: center;
    }
  }

  .done-btn {
    @include main-font-fix();
    background-color: $theme-main-green;
    width: 100%;
    text-align: center;
    padding: 14px 0 8px 0;
    font-size: 1.2rem;
    cursor: pointer;

    &:active {
      background-color: darken($theme-main-green, 10);
    }
  }

  section.search-time-range-container {
    position: relative;
    width: 100%;
    height: 224px;

    .cell-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .cell-container {
      position: relative;
      // height: auto;
      width: 100%;
      z-index: 1;
    }

    // .cell {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    // }

    .cell, .night-cell {
      z-index: 100;
      height: 56px;
      background-color: #FFF;
      @extend %flex-row-container;
      justify-content: flex-start;
      align-items: center;
      padding: 0 24px;
      width: 100%;
      box-shadow: 0 1px 6px 0 #666;
      margin: 0;

      label.checkbox {
        flex: 1 0 0;
        margin-left: 8px;
      }

      .title {
        font-family: $sub-font-family;
        font-size: 1rem;
        flex: 4 0 0;
      }
    }

    .moving-container {
      @extend %flex-column-container;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition: top 0.4s;

      &.checked {
        top: 56px;
      }
    }

    .grey-cell {
      height: 56px;
      background-color: $theme-light-gray;
      @extend %flex-row-container;
      justify-content: space-around;
      align-items: center;
      padding: 0 24px;
      text-align: center;
      z-index: 10;

      .weekday-text {
        width: 10%;
        // height: 100%;
      }

      .text {
        width: 15%;
        @include main-font-fix();
        font-size: 1rem;
        padding-top: 2px;
        color: #5bb4c6;
      }

      input {
        width: 15%;
        font-family: $sub-font-family;
        font-size: 1.1rem;
        background-color: $theme-light-gray;
        margin: 0 8px;
        padding: 0;
        text-align: center;
        // width: 64px;
      }
    }
    // @extend %flex-column-container;
    // background-color: $theme-light-gray;
    //
    // .slot {
    //   @extend %flex-row-container;
    //   justify-content: space-between;
    //   align-items: center;
    //   height: 54px;
    //   @include main-font-fix();
    //   padding: 0 24px;
    //   cursor: pointer;
    //
    //   .check {
    //     background: url('/images/check.png') center no-repeat;
    //     background-size: contain;
    //     width: 20px;
    //     height: 20px;
    //     display: none;
    //
    //   }
    //
    //   .title {
    //     font-family: $sub-font-family;
    //     font-size: 1.0rem;
    //     margin: 8px 0;
    //     color: $theme-main-green;
    //   }
    //
    //   &:active {
    //     .title {
    //       color: $theme-black;
    //     }
    //     background-color: darken($theme-light-gray, 10);
    //   }
    //
    //   &.selected {
    //     .title {
    //       color: $theme-black;
    //     }
    //
    //     .check {
    //       display: block;
    //     }
    //   }
    // }
  }

  .unclickable {
    pointer-events: none;
  }

  $cal-bg-color: #fff;
  $cal-header-color: $theme-main-green;
  $cal-header-size: 0.8rem;

  $cal-date-size: 1.5rem;
  $cal-unavil-date-color: darken($theme-light-gray, 15);
  $cal-avil-date-color: $theme-black;

  #calender-carousel {
    overflow: visible;
    @extend %flex-row-container;
    position: absolute;
  }

  .calender-carousel-container {
    width: 100%;
    margin: 0 auto;

    // position: relative;
    background-color: $cal-bg-color;

    @include aspect-fit-container(1.32) {
      .calender-carousel-wrapper {
        @include absolute-positioning(0);
        overflow: hidden;
      }
    }
  }

  .calender-container {
    width: calc(100vw - 19px);
    // width: 100vw;
    flex-shrink: 0;
    padding: 4px 32px;

    .day-bar-container {
      @extend %flex-row-container;
      justify-content: space-around;
      margin: 4px 0;

      .day {
        font-size: $cal-header-size;
        text-align: center;
        width: calc(100%/7);
        color: $cal-header-color;
        @include main-font-fix();
        line-height: normal;

      }
    }

    .separator {
      height: 1px;
      width: 100%;
      background-color: #ddd;
      margin: 4px 0;
    }

    .month-container {
      @extend %flex-row-container;
      flex-wrap: wrap;

      .date-box {
        @extend %flex-column-container;
        justify-content: center;
        align-items: center;
        width: calc(100%/7);
        height: 40px;
        cursor: pointer;
        border: 1px solid darken($theme-light-gray, 5);
        color: $cal-unavil-date-color;
        // border-top: 1px solid #ddd;
        // border-left: 1px solid #ddd;
        box-sizing: border-box;

        &.empty {
          border: none;
        }

        &.active {
          color: $cal-avil-date-color;

          &.selected {
            border: 1px solid $theme-main-green;
            color: #000;
            background-color: $theme-main-green;
          }
        }

        &.today {
          border: 1px solid $theme-main-green;
        }

        .text {
          @extend %flex-column-container;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: $cal-date-size;
          @include main-font-fix();
          line-height: 1;
          color: inherit;
        }
      }
    }
  }

}
