<template name="userBookingRecordList">
    {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left left-padding" data-ion-menu-toggle="left">
        {{> ionIcon icon='navicon'}}
      </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
      <h1 class="title">booking records</h1>
    {{/contentFor}}

    {{#ionView}}
      {{#ionContent class="bg-color"}}
        <div class="view-booking-tabs">
          <div class="upcoming-tab {{isUpcomingSelected}}">
            UPCOMING
          </div>
          <div class="history-tab {{isHistorySelected}}">
            HISTORY
          </div>
        </div>
        <div class="view-booking-container">
          {{#if upcomingActive}}
            {{> userUpcomingRecords}}
          {{else}}
            {{> userHistoryRecords}}
          {{/if}}
        </div>
      {{/ionContent}}
    {{/ionView}}
</template>

<template name="userUpcomingRecords">
    {{#each upcomingRecords }}
        {{> userBookingCell}}
    {{/each}}
</template>

<template name="userHistoryRecords">
    {{#each historyRecords }}
        {{> userBookingCell}}
    {{/each}}
</template>

<template name="userBookingCell">
    <div class="user-view-booking-cell">
      <!-- <div class="view-booking-image-container">
        <div class="view-booking-image"></div>
        <div class="fa fa-user view-booking-image-icon"></div>
      </div> -->
      <div class="booking-records-image" style="background-image: url('{{showImg}}')"></div>
      <!-- <div class="view-booking-price">${{this.amount}}.00</div> -->
      <div class="view-booking-content">
        <div class="upper-container">
          <div class="item-container">
            <div class="item-title">
              address
            </div>
            <div class="item-content">
              {{locationText}}
            </div>
          </div>
          <div class="item-container">
            <div class="item-title">
              floor
            </div>
            <div class="item-content">
              {{floorText}}
            </div>
          </div>
        </div>
        <div class="lower-container">
          <div class="item-container">
            <div class="item-title">
              date
            </div>
            <div class="item-content">
              {{this.timeslotDate}}
            </div>
          </div>
          <div class="item-container">
            <div class="item-title">
              time
            </div>
            <div class="item-content">
              {{timeslotTypeText}}
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
