<template name='reportIssueType'>
	{{#contentFor "headerButtonLeft"}}
		{{>ionNavBackButton class="back-btn" text="Booking"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class="title">issue type</h1>
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		<a id="reportIssueTypeNext" class="button button-clear header-right-btn" >
			Next
		</a>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			<div class="report-container">
				<div class="report-header">
					Step 1 of 3
				</div>
				<div class="report-text">
					What is the issue?
				</div>
				<div class="report-text">
					Please select:
				</div>
				{{#if isDriver}}
				<div class="report-radio-row">
					<input value="0" type="radio" name="issueType">
					<div class="row-content">
						I have trouble finding the parking space.
					</div>
				</div>
				<div class="report-radio-row">
					<input value="1" type="radio" name="issueType">
					<div class="row-content">
						I cannot access the carpark
					</div>
				</div>
				<div class="report-radio-row">
					<input value="2" type="radio" name="issueType">
					<div class="row-content">
						Another car parked there already
					</div>
				</div>
				{{/if}}
				{{#if isOwner}}
				<div class="report-radio-row">
					<input value="3" type="radio" name="issueType">
					<div class="row-content">
						Someone parked at my space not according to schedule.
					</div>
				</div>
				{{/if}}
				<div class="report-radio-row">
					<input value="4" type="radio" name="issueType">
					<div class="row-content">
						<div class="text">
							Others (please specify)
						</div>
						<input type="text" class="report-text" placeholder="">
					</div>
				</div>
			</div>

		{{/ionContent}}
	{{/ionView}}
</template>
